<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Awareness</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Current speed: {{speedInMS}} M/S</ion-card-subtitle>
      <ion-card-title>It looks like your using a bike (Is it yours?!)</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="../assets/images/bicycle.svg"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="toggleTracking()" expand="full"
    [color]="(awarenessService.isTracking | async) ? 'danger' : 'primary'">
    {{trackingText}}</ion-button>
</ion-content>