<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Awareness</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Current speed: {{speedInKmh}} km/h</ion-card-subtitle>
      <ion-card-title>It looks like your {{userAction}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src=[imageUrl]></ion-img>
    </ion-card-content>
  </ion-card>

  <!-- <ion-button (click)="toggleTracking()" expand="full"
    [color]="(awarenessService.isTracking | async) ? 'danger' : 'primary'">
    {{trackingText}}</ion-button> -->
</ion-content>