<form [formGroup]="actionForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input formControlName="name" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Radius in meters</ion-label>
    <ion-input type="number" formControlName="radius" min="10" max="200" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">When</ion-label>
    <ion-select placeholder="Select One" formControlName="type" required>
      <ion-select-option [value]="geofence.TransitionType.ENTER">Enter</ion-select-option>
      <ion-select-option [value]="geofence.TransitionType.EXIT">Leave</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Action</ion-label>
    <ion-select placeholder="Select one" formControlName="action" required>
      <ion-select-option value="enable">Enable tracking</ion-select-option>
      <ion-select-option value="disable">Disabled tracking</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button type="submit" [disabled]="!actionForm.valid" color="primary" expand="full">Save</ion-button>
  <ion-button (click)="onCancel()" color="warning" expand="full">Cancel</ion-button>
</form>